<!DOCTYPE html>
<html lang="en">
<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>{{pagetitle}}</title>
</head>
<body>
  <div class="d-flex justify-content-center"><h2>{{pagetitle}}</h2></div>
  <div class="container-xl">
    <div class="table-responsive">
      <div class="table-wrapper">
        <div class="table-title">
          <div class="row">
            <div class="col-sm-6">
              <h2>Add <b>Order</b></h2>
            </div>
          </div>
        </div>
<div class="container">
  
  <a href="#"  [routerLink]="['/']" class="btn btn-primary">Back</a>
  <form [formGroup]="form"  (ngSubmit)="saveOrder()">

      <div class="form-group">
          <label for="name">Name:</label>
          <input formControlName="name" id="name" type="text" class="form-control" (keypress)="keyPressAlphaNumeric($event)">
          <div *ngIf="getFormfield.name.touched && getFormfield.name.invalid" class="alert alert-danger">
              <div *ngIf="getFormfield.name.errors?.required">Name is required.</div>
              <div *ngIf="getFormfield.name.errors?.minlength">
                Name must be at least 3 characters long.
              </div>
              <div *ngIf="getFormfield.name.errors?.pattern">
                  Please enter the characters.
              </div>
          </div>
      </div>

      <div class="form-group">
        <label for="state">State:</label>
        <input formControlName="state" id="state" type="text" class="form-control" (keypress)="keyPressAlphaNumeric($event)">
        <div *ngIf="getFormfield.state.touched && getFormfield.state.invalid" class="alert alert-danger">
            <div *ngIf="getFormfield.state.errors?.required">state is required.</div>
            <div *ngIf="getFormfield.state.errors?.minlength">
              State must be at least 2 characters long.
            </div>
            <div *ngIf="getFormfield.state.errors?.pattern">
                Please enter the characters.
            </div>
        </div>
      </div>

      <div class="form-group">
        <label for="zip">Zip Code:</label>
        <input formControlName="zip" id="zip" type="text" class="form-control" oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*?)\..*/g, '$1');">
        <div *ngIf="getFormfield.zip.touched && getFormfield.zip.invalid" class="alert alert-danger">
            <div *ngIf="getFormfield.zip.errors?.required">zip is required.</div>
            <div *ngIf="getFormfield.zip.errors?.minlength">
              Zip must be at least 4 number long.
            </div>
            <div *ngIf="getFormfield.zip.errors?.pattern">
              zip field must be numeric.
            </div>
        </div>
      </div>

      <div class="form-group">
        <label for="amount">Amount:</label>
        <input formControlName="amount" id="amount" type="text" class="form-control" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');">
        <div *ngIf="getFormfield.amount.touched && getFormfield.amount.invalid" class="alert alert-danger">
            <div *ngIf="getFormfield.amount.errors?.required">Amount is required.</div>
            <div *ngIf="getFormfield.amount.errors?.minlength">
              Amount must be at least 2 digit long.
            </div>
            <div *ngIf="getFormfield.amount.errors?.pattern">
              Amount must be in digit.
            </div>
        </div>
      </div>

      <div class="form-group">
        <label for="qty">Quantity:</label>
        <input formControlName="qty" id="qty" type="text" class="form-control" oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*?)\..*/g, '$1');">
        <div *ngIf="getFormfield.qty.touched && getFormfield.qty.invalid" class="alert alert-danger">
            <div *ngIf="getFormfield.qty.errors?.required">Quantity is required.</div>
            <div *ngIf="getFormfield.qty.errors?.minlength">
              Quantity must be at least 1 digit long.
            </div>
            <div *ngIf="getFormfield.qty.errors?.pattern">
                Quantity must be in digits.
            </div>
        </div>
      </div>

      <div class="form-group">
        <label for="item">Item No:</label>
        <input formControlName="item" id="item" type="text" class="form-control">        
      </div>
      <div class="form-group">&nbsp;</div>
      <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Save</button>

  </form>

</div>
</div>
</div>
</div>
</body>
</html>
